.cache/
.vscode/
.cursor/
build/
dist/x64/
test/
assets/

*.user
*.zip
*.rar
*.sha256
*.user
*.jpg

*.py

support.png
qr_code.png

release_template.md
使用指南*.*

ToastNotification.*

CMakePresets.json_bak
project_tree.txt